body {
    margin: 0;
    overflow: hidden;
    background-color: #87CEEB; /* Sky Blue */
    color: #000; /* Black */
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB; /* Sky Blue */
}

.building {
    position: absolute;
    bottom: 0;
    left: 50%; /* Center the building */
    transform: translateX(-50%); /* Adjust for the building's own width */
    width: 100vw; /* Set the width to the viewport width */
    height: 100px;
    background-color: #8B4513; /* SaddleBrown */
}

#character-container {
    position: absolute;
    bottom: 100px; /* Adjust the height based on building height */
    left: 45%;
    transform: translateX(-50%);
    transition: 0.45s ease-out;
}

#character {
    width: 40px;
    height: 60px;
    background-color: #6495ED; /* DodgerBlue */
    border-radius: 10px 10px 0 0;
}

#character::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000; /* Black */
    border-radius: 50%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#character::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: #000; /* Black */
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.ball {
    position: absolute;   
    width: 20px;
    height: 20px;
    background-color: #FFFF00; /* Yellow */
    border-radius: 50%; /* Make it round */
    box-shadow: 0 0 10px #FFFF00, /* Outer glow */
                0 0 5px #FFFF00;  /* Inner glow */
}

.title {
    font-family: 'Courier New', monospace; /* Change the font family */
    font-size: 2.5em; /* Increase the font size */
    color: #ffffff; /* Change the color to black */
    text-shadow: 2px 2px #000; /* Add a shadow to the text */
    background-color: #87CEEB; /* Sky Blue */
    text-align: center; /* Center the text */
}

#game-over-message, #timer, .title {
    background-color: #87CEEB; /* Sky Blue */
}
