* {
    box-sizing: border-box;
}
html {
    
    
    width:100%;
    overflow-x: hidden;
    height:220vh;
    
}
h1 {
    text-transform:uppercase;
    text-align: center;
    letter-spacing:0.2rem;
}
.sec {
    margin-top:1rem;
    border-radius:2rem;
    background:darkred;
    color:white;
    padding-top:2rem;
    padding-bottom:2rem;
    height:auto;
}
.mat {
    font-size:1.2rem;
}
.tin {

}
.goa {
    
    font-weight:bold;
    font-size:1.1rem;
    padding:2rem;
}
.tinpic {
    width:28rem;
    height:20rem;
    object-fit:contain;
    border-radius:0.5rem;
}
.bgrid {
    margin-top:5rem;
    
}
.left {
    font-size:5rem;
    text-transform: uppercase;
    font-weight:bold;
    border-bottom:solid;
    border-top:solid;
}
.smol {
    font-size:1.5rem;
    margin-bottom:2rem;
}
.textbox {
    background:lightblue;
    border-radius:1rem;
    padding:1.2rem;
    margin-top:2rem;
    text-align:left;
    margin-left:4rem;
    overflow:scroll;
    height:20rem;
}

/*.griddy {
    display: grid;
    grid-template-columns: 12rem;
    grid-auto-columns: auto;
    height:20rem;
    
}
.subgrid {
    padding:1rem;
}
.A { grid-column: 1; grid-row: 1; }
.B { grid-column: 2; grid-row: 1; background:lightsteelblue;}*/

/*<div class="griddy"> 
        <div class="subgrid A">left</div>
        <div class="subgrid B">right</div>
    </div>*/