* {
  overflow-X:hidden;
  box-sizing: border-box;
}
#page {
  display: grid;
  width: 100%;
 
  height: 10rem;
  grid-template:
    [header-left] "head head" 5rem [header-right]
    [main-left] "nav  main" 1fr [main-right]
    
    / 120px 1fr;

}

header {
  background-color: lime;
  grid-area: head;
}

nav {
  background-color: lightblue;
  grid-area: nav;
}

main {
  background-color: yellow;
  grid-area: main;
}

footer {
  background-color: red;
  grid-area: foot;
}
#grid {
    display: grid;
    grid-template-columns: 12rem;
    grid-auto-columns: auto;
    height:200rem;
    
  }
  #A { grid-column: 1; grid-row: 1; }
  #B { grid-column: 2; grid-row: 1; background:lightsteelblue;}
  #C { grid-column: 1; grid-row: 2; }
  #D { grid-column: 2; grid-row: 2; background:lightseagreen;}
  #E { grid-column: 1; grid-row: 3; }
  #F { grid-column: 2; grid-row: 3; background:lightsteelblue;}
  #G { grid-column: 1; grid-row: 4; }
  #H { grid-column: 2; grid-row: 4; background:lightseagreen;}
  #I { grid-column: 1; grid-row: 5; }
  #J { grid-column: 2; grid-row: 5; background:lightsteelblue;}
  #K { grid-column: 1; grid-row: 6; }
  #L { grid-column: 2; grid-row: 6; background:lightseagreen;}

.time {
  padding:.5rem;
}
.box {
  padding:.5rem;
  border-left: 1px solid red;
  border-top: 1px solid red;
  border-radius:15px 0px 0px 15px;
}